In [6]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error,max_error

def split_x_and_y(database,x,y):
  dataset_x = database[x]
  dataset_y = database[y]
  return dataset_x,dataset_y


def scores(Y_true, Y_predicted):
  r2 = r2_score(Y_true, Y_predicted)
  meansquarederror = mean_squared_error(Y_true, Y_predicted)
  meanabsoluteerror = mean_absolute_error(Y_true, Y_predicted)
  maxerror = max_error(Y_true, Y_predicted)

  print('r2:',r2,'meansquarederror:',meansquarederror,'meanabsoluteerror:',meanabsoluteerror,'maxerror:',maxerror)
  return r2,meansquarederror,meanabsoluteerror,maxerror

# NUSSELT

In [1]:
import pandas as pd
database = pd.read_excel('database_TCC.xlsx')
database = database[['A','E','N','Nu']]
database

     A  E   N      Nu
0   25  1  11   78.62
1   25  1   5  102.00
2   25  2   8   91.57
3   25  3  11   31.00
4   25  3   5   88.97
5   35  1   8   96.90
6   35  2  11   61.80
7   35  2   5   93.30
8   35  3   8   76.90
9   25  1   8   98.34
10  25  2   5   89.62
11  35  3  11   31.47

In [5]:
import pickle

with open("standard_scaler_Nu.pkl", "rb") as f:
    rawdata = f.read()

standard_scaler_nu = pickle.loads(rawdata)
data = standard_scaler_nu.transform(database)
database = pd.DataFrame(data,columns=database.columns)

### Decision Tree Regressor

In [7]:
with open("Decision_Tree_Regressor_Nu.pkl", "rb") as f:
    rawdata = f.read()
decision_tree_regressor_nu = pickle.loads(rawdata)

In [8]:
dataset_x,dataset_y = split_x_and_y(database.iloc[[0,1,2,3,4,5,6,7,8]],['A','E','N'],'Nu')
test_x,test_y = split_x_and_y(database.iloc[[9,10,11]],['A','E','N'],'Nu')

decision_tree_regressor_nu.fit(dataset_x,dataset_y)
decision_tree_regressor_nu.score(test_x,test_y)

0.9897242898141073