# NU

In [15]:
import pandas as pd
database_pre = pd.read_excel('database_TCC.xlsx')
database = database_pre[['A','E','N','Nu']]
database

     A  E   N      Nu
0   25  1  11   78.62
1   25  1   5  102.00
2   25  2   8   91.57
3   25  3  11   31.00
4   25  3   5   88.97
5   35  1   8   96.90
6   35  2  11   61.80
7   35  2   5   93.30
8   35  3   8   76.90
9   25  1   8   98.34
10  25  2   5   89.62
11  35  3  11   31.47

In [16]:
from sklearn.preprocessing import StandardScaler
standardscaler = StandardScaler()
standardscaler.fit(database)
data = standardscaler.transform(database)
database = pd.DataFrame(data,columns=database.columns)

In [17]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error,max_error

def split_x_and_y(database,x,y):
  dataset_x = database[x]
  dataset_y = database[y]
  return dataset_x,dataset_y


def scores(Y_true, Y_predicted):
  r2 = r2_score(Y_true, Y_predicted)
  meansquarederror = mean_squared_error(Y_true, Y_predicted)
  meanabsoluteerror = mean_absolute_error(Y_true, Y_predicted)
  maxerror = max_error(Y_true, Y_predicted)

  print('r2:',r2,'meansquarederror:',meansquarederror,'meanabsoluteerror:',meanabsoluteerror,'maxerror:',maxerror)
  return r2,meansquarederror,meanabsoluteerror,maxerror

### RandomForestRegressor

In [27]:
dataset_x,dataset_y = split_x_and_y(database.iloc[[0,1,2,3,4,5,6,7,8]],['A','E','N'],'Nu')

test_x,test_y = split_x_and_y(database.iloc[[9,10,11]],['A','E','N'],'Nu')

from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor(n_estimators=5000,criterion='squared_error')
RFR.fit(dataset_x,dataset_y)
RFR.score(test_x,test_y)

0.8930159827334195

In [28]:
desnormalizar = test_x.copy()
desnormalizar['Nu'] = RFR.predict(test_x)
desnormalizado_teste = standardscaler.inverse_transform(desnormalizar)
desnormalizado_teste

array([[25.      ,  1.      ,  8.      , 96.645946],
       [25.      ,  2.      ,  5.      , 93.0143  ],
       [35.      ,  3.      , 11.      , 47.851994]])

In [29]:
desnormalizar = test_x.copy()
desnormalizar['Nu'] = test_y
desnormalizado_resultado = standardscaler.inverse_transform(desnormalizar)
desnormalizado_resultado

array([[25.  ,  1.  ,  8.  , 98.34],
       [25.  ,  2.  ,  5.  , 89.62],
       [35.  ,  3.  , 11.  , 31.47]])

In [22]:
decision_tree_results = desnormalizado_teste[:,-1]

### MLP

In [ ]:
dataset_x,dataset_y = split_x_and_y(database.iloc[[0,1,2,3,4,5,6,7,8]],['A','E','N'],'Nu')
test_x,test_y = split_x_and_y(database.iloc[[9,10,11]],['A','E','N'],'Nu')

from sklearn.neural_network import MLPRegressor
MLP = MLPRegressor(random_state=100)
MLP.fit(dataset_x,dataset_y)
MLP.score(test_x,test_y)

## RESULTS

In [23]:
df_results_nu = pd.DataFrame(database_pre.iloc[[9,10,11]][['A','E','N','Nu']])
df_results_nu['Decision Tree Regressor'] = decision_tree_results

In [24]:
df_results_nu

     A  E   N     Nu  Decision Tree Regressor
9   25  1   8  98.34                 96.73748
10  25  2   5  89.62                 92.96021
11  35  3  11  31.47                 47.80520

In [25]:
df_delta_nu = pd.DataFrame(database_pre.iloc[[9,10,11]][['A','E','N','Nu']])
df_delta_nu['Decision Tree Regressor'] = (abs((df_results_nu['Decision Tree Regressor'] - df_results_nu['Nu'])/df_results_nu['Nu'])*100).round(2)

In [26]:
df_delta_nu

     A  E   N     Nu  Decision Tree Regressor
9   25  1   8  98.34                     1.63
10  25  2   5  89.62                     3.73
11  35  3  11  31.47                    51.91

# TMAX

In [40]:
import pandas as pd
database_pre = pd.read_excel('database_TCC.xlsx')
database = database_pre[['A','E','N','Tmax']]
database

     A  E   N    Tmax
0   25  1  11   67.67
1   25  1   5  126.85
2   25  2   8   72.71
3   25  3  11  162.85
4   25  3   5   94.85
5   35  1   8   61.15
6   35  2  11   63.03
7   35  2   5   77.35
8   35  3   8   63.25
9   25  1   8   76.30
10  25  2   5   98.76
11  35  3  11   94.70

In [41]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error,max_error

def split_x_and_y(database,x,y):
  dataset_x = database[x]
  dataset_y = database[y]
  return dataset_x,dataset_y


def scores(Y_true, Y_predicted):
  r2 = r2_score(Y_true, Y_predicted)
  meansquarederror = mean_squared_error(Y_true, Y_predicted)
  meanabsoluteerror = mean_absolute_error(Y_true, Y_predicted)
  maxerror = max_error(Y_true, Y_predicted)

  print('r2:',r2,'meansquarederror:',meansquarederror,'meanabsoluteerror:',meanabsoluteerror,'maxerror:',maxerror)
  return r2,meansquarederror,meanabsoluteerror,maxerror

In [42]:
dataset_x,dataset_y = split_x_and_y(database.iloc[[0,1,2,3,4,5,6,7,8]],['A','E','N'],'Tmax')

test_x,test_y = split_x_and_y(database.iloc[[9,10,11]],['A','E','N'],'Tmax')

from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor(n_estimators=5000,criterion='squared_error',random_state=100)
RFR.fit(dataset_x,dataset_y)
RFR.score(test_x,test_y)

0.6640157237205566

In [44]:
from sklearn.preprocessing import StandardScaler
standardscaler = StandardScaler()
standardscaler.fit(database)
data = standardscaler.transform(database)
database = pd.DataFrame(data,columns=database.columns)

In [45]:
desnormalizar = test_x.copy()
desnormalizar['Tmax'] = RFR.predict(test_x)
desnormalizado_teste = standardscaler.inverse_transform(desnormalizar)
desnormalizado_teste

array([[25.      ,  1.      ,  8.      , 86.012184],
       [25.      ,  2.      ,  5.      , 99.7731  ],
       [35.      ,  3.      , 11.      , 95.651876]])

In [46]:
random_forest_regressor_result = desnormalizado_teste[:,-1]

In [47]:
desnormalizar = test_x.copy()
desnormalizar['Tmax'] = test_y
desnormalizado_resultado = standardscaler.inverse_transform(desnormalizar)
desnormalizado_resultado

array([[25.  ,  1.  ,  8.  , 76.3 ],
       [25.  ,  2.  ,  5.  , 98.76],
       [35.  ,  3.  , 11.  , 94.7 ]])

# RT

In [53]:
import pandas as pd
database_pre = pd.read_excel('database_TCC.xlsx')
database = database_pre[['A','E','N','Rt']]
database

     A  E   N     Rt
0   25  1  11  1.638
1   25  1   5  2.595
2   25  2   8  1.976
3   25  3  11  4.164
4   25  3   5  2.869
5   35  1   8  1.421
6   35  2  11  1.564
7   35  2   5  2.101
8   35  3   8  1.591
9   25  1   8  1.946
10  25  2   5  2.991
11  35  3  11  2.896

In [54]:
from sklearn.preprocessing import StandardScaler
standardscaler = StandardScaler()
standardscaler.fit(database)
data = standardscaler.transform(database)
database = pd.DataFrame(data,columns=database.columns)

In [55]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error,max_error

def split_x_and_y(database,x,y):
  dataset_x = database[x]
  dataset_y = database[y]
  return dataset_x,dataset_y


def scores(Y_true, Y_predicted):
  r2 = r2_score(Y_true, Y_predicted)
  meansquarederror = mean_squared_error(Y_true, Y_predicted)
  meanabsoluteerror = mean_absolute_error(Y_true, Y_predicted)
  maxerror = max_error(Y_true, Y_predicted)

  print('r2:',r2,'meansquarederror:',meansquarederror,'meanabsoluteerror:',meanabsoluteerror,'maxerror:',maxerror)
  return r2,meansquarederror,meanabsoluteerror,maxerror

In [61]:
dataset_x,dataset_y = split_x_and_y(database.iloc[[0,1,2,3,4,5,6,7,8]],['A','E','N'],'Rt')

test_x,test_y = split_x_and_y(database.iloc[[9,10,11]],['A','E','N'],'Rt')

from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor(n_estimators=5000,criterion='squared_error',random_state=100)
RFR.fit(dataset_x,dataset_y)
RFR.score(test_x,test_y)

0.3306427822593704

In [62]:
desnormalizar = test_x.copy()
desnormalizar['Rt'] = RFR.predict(test_x)
desnormalizado_teste = standardscaler.inverse_transform(desnormalizar)
desnormalizado_teste

array([[25.       ,  1.       ,  8.       ,  1.9387754],
       [25.       ,  2.       ,  5.       ,  2.3872834],
       [35.       ,  3.       , 11.       ,  2.6087644]])

In [63]:
random_forest_regressor_result = desnormalizado_teste[:,-1]

In [64]:
desnormalizar = test_x.copy()
desnormalizar['Rt'] = test_y
desnormalizado_resultado = standardscaler.inverse_transform(desnormalizar)
desnormalizado_resultado

array([[25.   ,  1.   ,  8.   ,  1.946],
       [25.   ,  2.   ,  5.   ,  2.991],
       [35.   ,  3.   , 11.   ,  2.896]])